<div ng-controller="EquiposController">
<table class="table table-bordered table-responsive">
	<thead>
		<th>Nombre</th>
		<th>Logo</th>
		<th></th>
	</thead>
	<tbody>
		<tr ng-repeat="equipo in equiposes">
		<td>
			{{equipo.nombre}}
		</td>
		<td><img src={{equipo.logo}} style="width: 100px; height: 100px"></td>
		<td><button type="button" ng-click="verDetalles(equipo)" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Ver más detalles</button></td>
		</tr>
	</tbody>
</table>

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="color: black;">Detalles</h4>
        </div>
        <div class="modal-body modal-lg" style="color: black;" >
          <table class="table table-bordered table-responsive">
          	<thead>
          	<th>Nombre</th>
          	<th>Dorsal</th>
          	<th>Posición</th>
          	<th>Estatura</th>
          	</thead>
          	<tbody>
          	<tr ng-repeat="jugador in jugadores">
          		<td>
          			{{jugador.nombre}}
          		</td>
          		<td>
          			{{jugador.dorsal}}
          		</td>
          		<td>
          			{{jugador.posicion}}
          		</td>
          		<td>
          			{{jugador.estatura}}
          		</td>
          		</tr>
          	</tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
</div>